.header{
    
    margin-top: 71px;
    margin-left: 315px;
    height: 19px;
    width: 71px;
    position: absolute;
    display: inline;
    color: #7D7D7D;
}

header:hover{
    cursor: pointer;
    color: aquamarine;
}
.hdr{
    color:#7D7D7D ;
    margin-top: 71px;
    margin-left: 485px;
    height: 19px;
    width: 71px;
    position: absolute;
    display: inline;
}
.hdr:hover{
    cursor: pointer;
    color: aquamarine;
}
.music{
    color:#7D7D7D ;
    margin-top: 71px;
    margin-left: 674px;
    height: 19px;
    width: 71px;
    position: absolute;
    display: inline;
}
.music:hover{
    cursor: pointer;
    color: aquamarine;
}
.travel{
    color:#7D7D7D ;
    margin-top: 71px;
    margin-left: 818px;
    height: 19px;
    width: 71px;
    position: absolute;
    display: inline;
}
.travel:hover{
    cursor: pointer;
    color: aquamarine;
}
